/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 mai 2019, 15:11:05
    Author     : stagldnr
*/
@font-face{
    src:url(../font/calendas_plus_webfont.ttf);
    font-family: p1;
}

body{
    background-image: url(../img/voyager.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

#accueil{
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0px;
    text-decoration:none;
    text-align: center;
    font-size: 55px;
    color: black;
    background-color: rgba(255,255,255,0.5);
    width: 16%;
    display: inline-block;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 20px black;
}

#connection{
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.5);
    width: 16%;
    margin: 0;
    display: inline-block;
    border: 1px solid black;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 20px black;
}

#inscription{
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 50px;
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.5);
    width: 16%;
    margin: 0;
    display: inline-block;
    border: 1px solid black;
    padding:10px 0 10px 0;
    box-shadow: 0 0 20px black;
}
#deconnection{
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 50px;
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.5);
    width: 16%;
    display: inline-block;
    border: 1px solid black;
    padding:10px 0 10px 0;
    box-shadow: 0 0 20px black;
}

#nomSite{
    position:relative;
    z-index: 1000;
    text-align: left;
    left: 20%;
    font-family: p1;
    font-style: italic;
    font-weight: bold;
    font-size: 80px;
}

#menuHeader{
    position:relative;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid black;
    width: 100%;
}

#menuAdmin{
    position:relative;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid black;
    width: 100%;
}

#galerie{
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.6);
    width: 32.95%;
    margin: 0;
    display: inline-block;
    padding:10px 0 10px 0;
}

#destination{
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.6);
    width: 32.95%;
    margin: 0;
    display: inline-block;
    padding:10px 0 10px 0;
}

#cuisine{
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.6);
    width: 32.95%;
    margin: 0;
    display: inline-block;
    padding:10px 0 10px 0;
}

#creationPost{
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.6);
    width: 19.6%;
    margin: 0;
    display: inline-block;
    padding:10px 0 10px 0;
}

#listPost{
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.6);
    width: 19.7%;
    margin: 0;
    display: inline-block;
    padding:10px 0 10px 0;
}
#listeBestPost{
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.6);
    width: 19.6%;
    margin: 0;
    display: inline-block;
    padding:10px 0 10px 0;
}

#listecom{
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.6);
    width: 19.6%;
    margin: 0;
    display: inline-block;
    padding:10px 0 10px 0;
}

#listeinscrit{
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.6);
    width: 19.6%;
    margin: 0;
    display: inline-block;
    padding:10px 0 10px 0;
}
#header{
    position: relative;
    z-index: 1000;
}
#divMenu{
    position: relative;
    z-index: 1000;
    margin-left: 16%;
    width: 68%;
    border: 1px solid black;
}

#content{
    position: relative;
    z-index: 1000;
    margin-left: 16%;
    padding-left:2%;
    background-color: rgba(255, 255, 255, 0.6);
    width: 68%;
    box-shadow: 0 0 20px black;
}
