/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 mai 2019, 11:50:41
    Author     : stagldnr
*/
.tabuser{
    border-spacing: 5px;
    margin-left: 12%;
     
}
.tru:nth-of-type(2n){
    background-color: #6DF05D;
}

.tdu{
    padding :10px;
}
