<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/PageAccueil.jsp</welcome-file>
    </welcome-file-list>
    <!-- mapping connexion -->
    <servlet>
        <servlet-name>connection</servlet-name>
        <servlet-class>servlets.Connection</servlet-class>
    </servlet>
        
    <servlet-mapping>
        <servlet-name>connection</servlet-name>
        <url-pattern>/connection</url-pattern>
    </servlet-mapping>
        
    <!-- mapping déconnexion -->
    <servlet>
        <servlet-name>deconnection</servlet-name>
        <servlet-class>servlets.Deconnection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deconnection</servlet-name>
        <url-pattern>/deconnection</url-pattern>
    </servlet-mapping>

    <!-- Configuration du temps de session avant déconnexion -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- Configuration de l'inclusion systématique de la bibliothèque JSTL core 
    et de l'encodage des pages JSP en UTF8 -->
    <jsp-config>
        <jsp-property-group> 
            <url-pattern>*.jsp</url-pattern> 
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude> 
        </jsp-property-group> 
    </jsp-config>

    <!-- Configuration du mapping des contrôleurs -->
    <servlet>
        <servlet-name>inscription</servlet-name>
        <servlet-class>servlets.Inscription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    
</web-app>